  .todo-app {
    font-family: sans-serif;
    padding: 0 150px;
  }
  
  /** add todo **/
  .add-todo {
    margin-left: 15px;
  }
  
  /** todo list **/
  .todo-list {
    list-style: none;
    padding: 0;
  }
  
  /** todo item **/
  .todo-item {
    cursor: pointer;
  }
  .todo-item__text--completed {
    text-decoration: line-through;
    color: lightgray;
  }
  .filter {
    padding: 10px 0;
    margin: 0 10px;
    cursor: pointer;
  }
  .filter--active {
    border-bottom: 1px solid black;
  }

.basic-use{
  margin-top: 5rem;
  font-size: 50px;
}